body{ background-color: #e5e4e2 ;


}



.retangulo {
    width: 100%px; 
    height: 180px; 
    background-color: rgb(80, 80, 80); 
}
button {
    background-color: #c4a96c 
    color: white;
    padding:16px 20px;
}

