body { 
    background-image: url('/img/Kisbertfundo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.figure {
    margin:10px
}


.retangulo {
    width: 100%; 
    height: 180px; 
    background-color: rgb(69, 69, 69); 
}

button {
    background-color: black;
    color: white;
    padding:10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}



