.container { 
    background-image: url('/img/Kisbertfundo.png');
    background-size: cover; /* Para cobrir toda a área do body */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
 
    
}



.retangulo {
    width: 100%px; 
    height: 180px; 
    background-color: rgb(80, 80, 80); 
}
button {
    background-color: #c4a96c;
    color: white;
    padding:10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}



